.DS_Store
node_modules
package-lock.json
_site

netlify/functions/thanks/**
!netlify/functions/thanks/index.js

_data

netlify/functions/share/**
!netlify/functions/share/index.js

# Local Netlify folder
.netlify
.env
