---
layout: layout.njk
---

<header class="header-main">
	<div class="grid">
		<div class="masthead grid-narrow">
			<a href="//netlify.com" class="netlify-logo">
				{% include "_includes/components/_svg/netlify-logo" %}
			</a>
			<nav class="nav-main">
				<a href="#guidelines">Guidelines</a>
				<a href="#participate">Submit</a>
				<a href="#showcase">Showcase</a>
			</nav>
		</div>
		<section class="grid-narrow">
			<h1>Dusty Domains</h1>
			<p>This December, join us in dusting off those unused domains. Deploy a site to Netlify and we’ll donate [$$] to [charity].</p>
		</section>
		<ul class="sites-list featured grid-narrow">
			<a href="#" class="sites-item">neat.pizza <span>8 years dusty</span></a>
			<a href="#" class="sites-item">hamburger.fun <span>2 years dusty</span></a>
		</ul>
	</div>
</header>
<main>
	<section class="pancake" id="guidelines">
		<div class="guidelines-grid grid-narrow">
			<div class="guidelines-copy">
				<h2>Guidelines</h2>
				<p>We know you’ve got domains sitting around collecting dust (we definitely do), so let’s finally use ‘em and do some good at the same time.</p>
				<ol class="guidelines-steps">
					<li>Build a website! Anything your little heart dreams will do. Big, small, useful, or completely silly projects are all encouraged.</li>
					<li><span><a href="">Deploy your project on Netlify</a> and <a href="">configure your domain</a>. You can also choose to stick with your generated netlify.app URL.</span></li>
					<li><span><a href="">Submit your site!</a> We’ll review it and add it the <a href="">showcase</a>.</span></li>
					<li>Non-profit! We donate [$$] to [charity].</li>
				</ol>
			</div>
			<div class="guidelines-illo">
				<p>Put an illustration here</p>
			</div>
		</div>
	</section>
	<section class="pancake">
		<div class="judges-grid grid-narrow">
			<h3>Judges</h3>
			<ul class="judges-list">
				<li>
					<a href="#"><img src="static/avatar-temp.jpg" alt="David Rose" /></a>
					<a href="#">David Rose</a>
				</li>
				<li>
					<a href="#"><img src="static/avatar-temp.jpg" alt="David Rose" /></a>
					<a href="#">David Rose</a>
				</li>
				<li>
					<a href="#"><img src="static/avatar-temp.jpg" alt="David Rose" /></a>
					<a href="#">David Rose</a>
				</li>
				<li>
					<a href="#"><img src="static/avatar-temp.jpg" alt="David Rose" /></a>
					<a href="#">David Rose</a>
				</li>
				<li>
					<a href="#"><img src="static/avatar-temp.jpg" alt="David Rose" /></a>
					<a href="#">David Rose</a>
				</li>
			</ul>
		</div>
	</section>
	<section class="pancake" id="submit">
		<div class="submit-grid grid-narrow">
			<h2>Submit your site</h2>
			<p class="headline">Some text that is helpful</p>
			<form class="submit-form" name="dusty-domains" method="POST" netlify-honeypot="bot-field" data-netlify="true" action="/thanks">
				<fieldset>
					<label for="name">Your Name:</label>
					<input type="text" name="name" id="name" required />
					<label for="email">Your Email:</label>
					<input type="email" name="email" id="email" required />
					<label for="url">Site URL:</label>
					<input type="text" name="url" id="url" required />
					<label for="date">Year you first purchased this domain:</label>
					<input type="text" name="date" id="date" />
					<label class="hidden">Don’t fill this out if you’re human:</label>
					<input class="hidden" name="bot-field" />
					<button type="submit">Submit</button>
				</fieldset>
			</form>
		</div>
	</section>
	<section class="pancake" id="showcase">
		<div class="showcase-grid grid-narrow">
			<h2>Showcase</h2>
			<ul class="sites-list">
				<a href="#" class="sites-item">neat.pizza <span>8 years dusty</span></a>
				<a href="#" class="sites-item">hamburger.fun <span>2 years dusty</span></a>
				<a href="#" class="sites-item">hamburger.fun <span>2 years dusty</span></a>
				<a href="#" class="sites-item">hamburger.fun <span>2 years dusty</span></a>
				<a href="#" class="sites-item">hamburger.fun <span>2 years dusty</span></a>
				<a href="#" class="sites-item">hamburger.fun <span>2 years dusty</span></a>
			</ul>
		</div>
	</section>
</main>

<footer class="footer-main">
	<div class="grid">
		<div class="footer-grid grid-narrow">
			<p>Hey, you. Thank you!</p>
			<p>The web is better with you building it.</p>
			<a href="//netlify.com" class="netlify-logo">
				{% include "_includes/components/_svg/netlify-logo-mark" %}
			</a>
		</div>
	</div>
</footer>