---
layout: layout.njk
bodyClass: thanks
headline: "Thank you!"
subhead: "+ huge congrats on shipping something new!"
---

<main>
	<section class="pancake">
		<div class="thanks-grid grid-narrow">
			<div class="thanks-copy content">
				<h2>What’s next</h2>
				<p>After a quick review, we’ll add your site to the <a href="#showcase">showcase</a>. Check out what others have made, too.</p>
				<p>Brag to your buds about finally shipping that domain:</p>
				
				<h3>Share Cards</h3>
				<p>Here’s some images for your tweets and posts.</p>
				<!-- TODO: generate custom cards + alts + where will they be hosted? -->
				<div class="cards-list">
					<div class="card">
						<img src="/static/card1.png" alt="I just shipped a Dusty Domain on Netlify. 0 years since domain went unused." width="1200" height="630" />
					</div>
					<div class="card">
						<img src="/static/card2.png" alt="I just shipped a 3-year-old Dusty Domain" width="1200" height="630" />
					</div>
				</div>

				<h3>Badges</h3>
				<p>Or add a badge to your site or your project’s README.</p>
				<!-- TODO: generate custom badges + alts + where will they be hosted? -->
				<div class="badges-list">
					<div class="badge">
						<img src="/static/badge1.png" alt="" width="200" height="40" />
						<div class="badge-code">
							<!-- TODO: add final domain + image URL -->
							<textarea><a href=""><img src="" alt="" width="200" height="40" /></a></textarea>
						</div>
					</div>
					<div class="badge">
						<img src="/static/badge2.png" alt="" width="200" height="40" />
						<div class="badge-code">
							<!-- TODO: add final domain + image URL + alt -->
							<textarea><a href=""><img src="" alt="" width="200" height="40" /></a></textarea>
						</div>
					</div>
					<div class="badge">
						<img src="/static/badge3.png" alt="" width="200" height="40" />
						<div class="badge-code">
							<!-- TODO: add final domain + image URL + alt -->
							<textarea><a href=""><img src="" alt="" width="200" height="40" /></a></textarea>
						</div>
					</div>
				</div>
				<p>
			</div>
		</div>
	</section>
</main>


<!-- Footer -->
<footer class="footer-main">
	<div class="grid">
		<div class="footer-grid grid-narrow">
			<p>Hey, you. You’re cool.</p>
			<p>Thanks for building the web with us.</p>
			<a href="//netlify.com" class="netlify-logo">
				{% include "_includes/components/_svg/netlify-logo-mark" %}
			</a>
		</div>
	</div>
</footer>