---
layout: layout.njk
bodyClass: thanks
headline: "Thank you!"
subhead: "Something else"
---

<main>
	<section class="pancake">
		<div class="guidelines-grid grid-narrow">
			<div class="guidelines-copy content">
				<h2>What’s next</h2>
			</div>
		</div>
	</section>
</main>