---
layout: layout.njk
bodyClass: thanks
permalink:
  build: /thanks/
  thanks:
    - /thanks/:site
    - /thanks/:site/:age
---

{% block og %}
	{% if eleventy.serverless.path.age >= 1 %}
		<meta content="https://res.cloudinary.com/netlify/image/upload/f_auto,q_auto/w_800,c_fit,co_rgb:ffffff,g_center,l_text:Pacaembu-Regular.otf_85_center:{{ eleventy.serverless.path.age }}-year-old,y_-92/g_south_west,x_70,y_60,l_text:Mulish-Regular.ttf_40:{{ eleventy.serverless.path.site }}/g_south_east,co_rgb:666666,x_70,y_70,l_text:Mulish-Bold.ttf_30:{{ eleventy.serverless.path.age }}%20YEARS%20DUSTY/dusty-domains/x-years-old.jpg" property="og:image">
		<meta content="https://res.cloudinary.com/netlify/image/upload/f_auto,q_auto/w_800,c_fit,co_rgb:ffffff,g_center,l_text:Pacaembu-Regular.otf_85_center:{{ eleventy.serverless.path.age }}-year-old,y_-92/g_south_west,x_70,y_60,l_text:Mulish-Regular.ttf_40:{{ eleventy.serverless.path.site }}/g_south_east,co_rgb:666666,x_70,y_70,l_text:Mulish-Bold.ttf_30:{{ eleventy.serverless.path.age }}%20YEARS%20DUSTY/dusty-domains/x-years-old.jpg" name="twitter:image">
	{% elif eleventy.serverless.path.age < 1 %}
		<meta content="https://res.cloudinary.com/netlify/image/upload/f_auto,q_auto/g_south_west,x_70,y_60,l_text:Mulish-Regular.ttf_40:{{ eleventy.serverless.path.site }}/dusty-domains/same-year.jpg" property="og:image">
		<meta content="https://res.cloudinary.com/netlify/image/upload/f_auto,q_auto/g_south_west,x_70,y_60,l_text:Mulish-Regular.ttf_40:{{ eleventy.serverless.path.site }}/dusty-domains/same-year.jpg" name="twitter:image">
	{% else %}
		<meta content="https://res.cloudinary.com/netlify/image/upload/f_auto,q_auto/dusty-domains/default-card.jpg" property="og:image">
		<meta content="https://res.cloudinary.com/netlify/image/upload/f_auto,q_auto/dusty-domains/default-card.jpg" name="twitter:image">
	{% endif %}
{% endblock %}

<!-- Header -->
<header class="header-main dusty dusty-dark">
	<div class="grid">
		{% include "_includes/components/nav-main.njk" %}
		<section class="grid-narrow">

			{% if eleventy.serverless.path.age >= 1 %}
				
				<h1 class="thanks1"><span>I just shipped a </span><span class="site-age">{{ eleventy.serverless.path.age }}-year-old</span> <strong>Dusty Domain</strong> <span class="netlify">on {% include "_includes/components/_svg/netlify-logo" %}</span></h1>
			{% elif eleventy.serverless.path.age < 1 %}
				<h1 class="thanks2"><span>I just bought a domain</span> <span>& shipped the project in</span> <span>the same dang year</span> <small>(please clap)</small></h1>
			{% else %}
				<h1 class="thanks3"><span>I just shipped a </span><strong>Dusty Domain</strong> <span class="netlify">on {% include "_includes/components/_svg/netlify-logo" %}</span></h1>
			{% endif %}

			{% if eleventy.serverless.path.site %}
				<p><span>Check out my site that contributed $150 to charity. 👇</span></p>
			{% endif %}
		</section>
	</div>
</header>

{% if eleventy.serverless.path.site %}
<!-- Featured sites -->
<div class="grid" id="featured">
	<div class="grid-narrow featured-grid">
		<ul class="sites-list" id="featured-list">
			<li class="sites-item">
				<a href="https://{{ eleventy.serverless.path.site }}">
					<span class="site-title">{{ eleventy.serverless.path.site }}
						<span class="site-date">{{ eleventy.serverless.path.age }} years dusty</span>
					</span>
					<figure>
						<img src="DUSTY_DOMAINS_SCREENSHOT_URL" alt="screenshot of website" />
					</figure>
				</a>
			</li>
		</ul>
	</div>
</div>

{% endif %}

<main>
	<section class="pancake">
		<div class="thanks-grid grid-narrow">
			<div class="thanks-copy content">
				<h2>What’s next</h2>
				<p>After a quick review, we’ll add your site to the <a href="#showcase">showcase</a>. Be sure to check out what others have made, too.</p>
				<h3>Sing it loud</h3>
				<p>You’ve earned serious bragging rights today.</p>
				<!-- TODO: Do we want this to craft a tweet for them? -->
				<p><button>Share your success</button></p>

				<h3>Add some flair</h3>
				<p>Add a badge to your site or your project’s README.</p>
				<!-- TODO: generate custom badges + alts + where will they be hosted? -->
				<div class="badges-list">
					<div class="badge">
						<img src="/static/badge1.png" alt="0 years since domain went unused" width="200" height="40" />
						<div class="badge-code">
							<!-- TODO: add final domain + image URL -->
							<textarea><a href=""><img src="" alt="0 years since domain went unused" width="200" height="40" /></a></textarea>
						</div>
					</div>
					<div class="badge">
						<img src="/static/badge2.png" alt="a Netlify Dusty Domain" width="200" height="40" />
						<div class="badge-code">
							<!-- TODO: add final domain + image URL + alt -->
							<textarea><a href=""><img src="" alt="a Netlify Dusty Domain" width="200" height="40" /></a></textarea>
						</div>
					</div>
					<div class="badge">
						<img src="/static/badge3.png" alt="" width="200" height="40" />
						<div class="badge-code">
							<!-- TODO: add final domain + image URL + alt -->
							<textarea><a href=""><img src="" alt="" width="200" height="40" /></a></textarea>
						</div>
					</div>
				</div>
				<p>
			</div>
		</div>
	</section>
</main>


<!-- Footer -->
<footer class="footer-main">
	<div class="grid">
		<div class="footer-grid grid-narrow">
			<p>Hey, you. You’re cool.</p>
			<p>Thanks for building the web with us.</p>
			<a href="//netlify.com" class="netlify-logo">
				{% include "_includes/components/_svg/netlify-logo-mark" %}
			</a>
		</div>
	</div>
</footer>
<script src="/static/thanks.js"></script>