<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<title>Dusty Domains</title>
		<link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16">
		<meta property="og:type" content="website">
		<meta name="twitter:card" content="summary_large_image">
		<meta content="@Netlify" name="twitter:site">
		<meta content="@Netlify" name="twitter:creator">
		<meta content="Dusty Domains" name="twitter:title" property="og:title">
		<meta content="Deploy a site to Netlify and turn that dusty domain you’ve been squatting on into money for charity." name="twitter:description" property="og:description">
		<meta content="https://dusty.domains" property="og:url">
		<meta content="https://dusty.domains" property="twitter:url">
		<meta content="https://dusty.domains/static/og.png" property="og:image">
		<meta content="https://dusty.domains/static/og.png" name="twitter:image">
		<style>
		{% include "components/fonts.css" %}
		{% include "components/variables.css" %}
		{% include "components/global.css" %}
		{% include "components/type.css" %}
		{% include "components/buttons.css" %}
		{% include "components/textures.css" %}
		{% include "components/sites-list.css" %}
		{% include "components/header.css" %}
		{% include "components/featured.css" %}
		{% include "components/guidelines.css" %}
		{% include "components/judges.css" %}
		{% include "components/submit.css" %}
		{% include "components/showcase.css" %}
		{% include "components/thanks.css" %}
		{% include "components/footer.css" %}
		</style>
	</head>
	<body class={{ bodyClass }}>
		{{ content | safe }}
		<script src="/static/focus-visible.min.js"></script>
	</body>
</html>