<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<title>Dusty Domains</title>
		<style>
		{% include "components/variables.css" %}
		{% include "components/global.css" %}
		{% include "components/type.css" %}
		{% include "components/buttons.css" %}
		{% include "components/header.css" %}
		{% include "components/sites-list.css" %}
		{% include "components/guidelines.css" %}
		{% include "components/judges.css" %}
		{% include "components/submit.css" %}
		{% include "components/showcase.css" %}
		{% include "components/footer.css" %}
		</style>
	</head>
	<body>
		{{ content | safe }}
	</body>
</html>