<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<title>Dusty Domains</title>
		<link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16">
		<meta property="og:type" content="website">
		<meta name="twitter:card" content="summary_large_image">
		<meta content="@Netlify" name="twitter:site">
		<meta content="@Netlify" name="twitter:creator">
		<meta content="Dusty Domains" name="twitter:title" property="og:title">
		<meta content="Ship a site to Netlify and turn that dusty domain you’ve been squatting on into real money for charity." name="twitter:description" property="og:description">
		<meta content="https://dusty.domains" property="og:url">
		<meta content="https://dusty.domains" property="twitter:url">
		{% if eleventy.serverless.path.age >= 1 %}
			<meta content="https://res.cloudinary.com/netlify/image/upload/f_auto,q_auto/w_800,c_fit,co_rgb:ffffff,g_center,l_text:Pacaembu-Regular.otf_85_center:{{ eleventy.serverless.path.age }}-year-old,y_-92/g_south_west,x_70,y_60,l_text:Mulish-Regular.ttf_40:{{ eleventy.serverless.path.site }}/g_south_east,co_rgb:666666,x_70,y_70,l_text:Mulish-Bold.ttf_30:{{ eleventy.serverless.path.age }}%20YEARS%20DUSTY/dusty-domains/x-years-old.jpg" property="og:image">
			<meta content="https://res.cloudinary.com/netlify/image/upload/f_auto,q_auto/w_800,c_fit,co_rgb:ffffff,g_center,l_text:Pacaembu-Regular.otf_85_center:{{ eleventy.serverless.path.age }}-year-old,y_-92/g_south_west,x_70,y_60,l_text:Mulish-Regular.ttf_40:{{ eleventy.serverless.path.site }}/g_south_east,co_rgb:666666,x_70,y_70,l_text:Mulish-Bold.ttf_30:{{ eleventy.serverless.path.age }}%20YEARS%20DUSTY/dusty-domains/x-years-old.jpg" name="twitter:image">
		{% elif eleventy.serverless.path.age < 1 %}
			<meta content="https://res.cloudinary.com/netlify/image/upload/f_auto,q_auto/g_south_west,x_70,y_60,l_text:Mulish-Regular.ttf_40:{{ eleventy.serverless.path.site }}/dusty-domains/same-year.jpg" property="og:image">
			<meta content="https://res.cloudinary.com/netlify/image/upload/f_auto,q_auto/g_south_west,x_70,y_60,l_text:Mulish-Regular.ttf_40:{{ eleventy.serverless.path.site }}/dusty-domains/same-year.jpg" name="twitter:image">
		{% elif eleventy.serverless.path.site %}
			<meta content="https://res.cloudinary.com/netlify/image/upload/f_auto,q_auto/dusty-domains/default-card.jpg" property="og:image">
			<meta content="https://res.cloudinary.com/netlify/image/upload/f_auto,q_auto/dusty-domains/default-card.jpg" name="twitter:image">
		{% else %}
			<meta content="https://res.cloudinary.com/netlify/image/upload/f_auto,q_auto/dusty-domains/og.jpg" property="og:image">
			<meta content="https://res.cloudinary.com/netlify/image/upload/f_auto,q_auto/dusty-domains/og.jpg" name="twitter:image">
		{% endif %}
		<style>
		{% include "components/fonts.css" %}
		{% include "components/variables.css" %}
		{% include "components/global.css" %}
		{% include "components/type.css" %}
		{% include "components/buttons.css" %}
		{% include "components/textures.css" %}
		{% include "components/sites-list.css" %}
		{% include "components/header.css" %}
		{% include "components/featured.css" %}
		{% include "components/guidelines.css" %}
		{% include "components/companies.css" %}
		{% include "components/thermometer.css" %}
		{% include "components/charities.css" %}
		{% include "components/judges.css" %}
		{% include "components/submit.css" %}
		{% include "components/showcase.css" %}
		{% include "components/thanks.css" %}
		{% include "components/footer.css" %}
		</style>
	</head>
	<body class={{ bodyClass }}>
		{{ content | safe }}
		<script src="/static/focus-visible.min.js"></script>\
	</body>
</html>