button,
.button {
	padding: .6em 1em;
	display: inline-block;
	background-color: var(--color-teal-T500);
	border-radius: 4px;
	font-size:  100%;
	font-weight: 700;
	color: var(--color-teal-T900);
	outline: none;
	border: none;
	transition: background-color 200ms;
}

button:hover,
.button:hover {
	background-color: var(--color-teal-T200);
}

button:focus-visible,
.button:focus-visible {
	box-shadow: 0 0 1px 4px var(--color-teal-T600);
}