.companies-grid {
	grid-column: narrow;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.companies-grid p {
	max-width: 500px;
}

.companies-list {
	width: 100%;
	max-width: 800px;
	margin: 3em auto 0;
	font-family: 'Courier New', monospace;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
	grid-gap: 0 2em;
}

.companies-list div {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto auto;
	grid-gap: 0 1.5em;
	align-items: center;
	border-bottom: 1px dashed var(--color-gray-L800);
	text-align: left;
}

.companies-list dt,
.companies-list dd {
	height: 60px;
	display: flex;
	align-items: center;
}

.companies-list div .learn-more {
	grid-column: 1 / -1;
	position: relative;
	padding: .5em 1em .5em 2em;
	font-size: 90%;
	line-height: 1.3;
	border-top: 1px dotted var(--color-gray-L400);
	text-decoration: none;
	font-family: var(--font-secondary);
	background-color: #f7f7f7;
}

.companies-list div .learn-more:hover {
	text-decoration: underline;
	color: inherit;
}
.companies-list div .learn-more::before {
	content: '🔗';
	position: absolute;
	left: .5em;
	top: .6em;
}

.companies-list div .learn-more.video::before {
	content: '🎬';
	top: .5em;
}

.companies-list div:last-of-type {
	font-size: 120%;
	font-weight: 600;
}

.company-logo {
	height: 30px;
	display: flex;
	align-items: center;
	transition: transform 100ms ease-in-out;
}

.company-logo:hover {
	transform: scale(1.05);
}

.company-logo img {
	height: 100%;
	width: auto;
}