.header-main {
	--header-padding: 1.5em;
	padding: var(--header-padding) 0;
}

.header-main > .grid {
	min-height: 550px;
	grid-template-rows: auto 1fr;
}

@media screen and (max-width: 400px) {
	.header-main > .grid {
		min-height: 450px;
	}
}

.header-main section {
	display: grid;
	place-content: center;
	justify-items: center;
	text-align: center;
}

.header-main h1 {
	margin-bottom: .3em;
	padding: 0 .3em;
	max-width: 400px;
	background-repeat: no-repeat;
	background-position: center center;
}

.landing .header-main h1 {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='323.75' height='161.04' viewBox='0 0 323.75 161.04'%3E%3Cpath d='M59.73,70.87C72,70,84.24,69,96.49,68.06c11.39-.92,22.79-1.86,34.19-2.72Q148.26,64,165.86,63q20.17-1.1,40.38-1.66c16.35-.46,32.71-.67,49.06-.72h6.89A22.66,22.66,0,0,0,273.75,58a22.4,22.4,0,0,0,9.65-6.2,22.44,22.44,0,0,0,6.2-9.65,22.66,22.66,0,0,0,2.59-11.56l-1.07-8A30,30,0,0,0,283.4,9.42l-6.07-4.7A29.94,29.94,0,0,0,262.19.63q-25.22,0-50.43.58-20.64.53-41.27,1.57Q152.69,3.7,134.9,5c-11.38.83-22.75,1.76-34.13,2.68-12.07,1-24.13,1.94-36.21,2.81l-4.83.35a22.53,22.53,0,0,0-11.56,2.58,22.56,22.56,0,0,0-9.66,6.2,22.56,22.56,0,0,0-6.2,9.66,22.53,22.53,0,0,0-2.58,11.56l1.07,8a29.93,29.93,0,0,0,7.71,13.24l6.08,4.69a29.79,29.79,0,0,0,15.14,4.1Z' fill='%2333373b'/%3E%3Cpath d='M30,150.93c19.06-.2,38.12-.31,57.18-.22,16.31.07,32.63.28,49,.72q23,.63,45.95,1.85c16.08.85,32.14,1.92,48.2,3.12Q258.15,158.48,286,161l7.75.68a22.66,22.66,0,0,0,11.56-2.59,22.44,22.44,0,0,0,9.65-6.2,22.49,22.49,0,0,0,6.2-9.65,22.66,22.66,0,0,0,2.59-11.56l-1.07-8a30.06,30.06,0,0,0-7.72-13.24l-6.07-4.69a29.84,29.84,0,0,0-15.14-4.09q-28.49-2.52-57-4.76c-16.27-1.25-32.55-2.38-48.84-3.3q-23-1.29-46-2-24.15-.73-48.29-.86c-18.62-.12-37.25,0-55.87.11L30,90.93a22.53,22.53,0,0,0-11.56,2.58,22.56,22.56,0,0,0-9.66,6.2,22.56,22.56,0,0,0-6.2,9.66A22.53,22.53,0,0,0,0,120.93l1.07,8A30,30,0,0,0,8.8,142.14l6.08,4.69A29.92,29.92,0,0,0,30,150.93Z' fill='%2333373b'/%3E%3C/svg%3E");
	background-size: auto 100%;
}

.header-main p {
	max-width: 500px;
}

@media screen and (min-width: 401px) {
	.header-main p {
		font-size: 1.3em;
	}
}

.header-main p span {
	padding: 0 .3em;
	background-color: var(--texture-color-dark);
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

.nav-main {
	display: flex;
	gap: 2em;
	padding: 0 .5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='329' height='34' viewBox='0 0 329 34'%3E%3Cpath d='M13.92,33.1l117.82-2L249,29l66.12-1.14A14,14,0,0,0,324.62,24a13.68,13.68,0,0,0,4-9.55c-.16-3.49-1.3-7.11-4-9.54a13.85,13.85,0,0,0-9.54-4l-117.82,2L80,5,13.92,6.1a14,14,0,0,0-9.54,4,13.68,13.68,0,0,0-4,9.55c.16,3.49,1.3,7.11,4,9.54a13.85,13.85,0,0,0,9.54,4Z' fill='%2333373b'/%3E%3C/svg%3E");
}

.masthead .netlify-logo {
	padding: 0 .5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='139.24' height='34.13' viewBox='0 0 139.24 34.13'%3E%3Cpath d='M13.51,34.74,101,29.21l24.69-1.56a14.32,14.32,0,0,0,9.55-4,13.71,13.71,0,0,0,3.95-9.54c-.16-3.49-1.3-7.12-3.95-9.55s-6-4.18-9.55-3.95L38.2,6.18,13.51,7.74A14.31,14.31,0,0,0,4,11.7,13.51,13.51,0,0,0,4,30.79c2.55,2.33,6,4.18,9.55,4Z' fill='%2333373b'/%3E%3C/svg%3E");
}

.masthead .netlify-logo > svg {
	width: 100px;
	height: auto;
}

.nav-main a {
	font-weight: 700;
	text-decoration: none;
}

.nav-main a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 500px) {
	.header-main .masthead {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1em;
	}

	.nav-main {
		justify-content: center;
	}
}

@media screen and (min-width: 501px) {
	.masthead {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 2em;
	}

	.masthead .netlify-logo {
		margin-right: auto;
	}
}