.judges-grid {
	grid-column: narrow;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.judges-grid p {
	max-width: 500px;
}

.judges-list {
	width: 100%;
	max-width: 800px;
	margin-top: 3em;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.5em;
}

@media screen and (min-width: 450px) {
	.judges-list {
		grid-template-columns: repeat(auto-fit,minmax(160px,1fr));
		gap: 1.5em 2em;
	}
}

.judges-list li {
	position: relative;
}


.judges-list .judge-avatar {
	display: block;
	height: auto;
}

.judges-list .judge-avatar::before {
	content: '';
	width: 100%;
	height: 88%;
	display: block;
	position: absolute;
	left: -8px;
	top: -8px;
	border: var(--ui-border);
	pointer-events: none;
	transition: all 150ms ease-in-out;
}

@supports (aspect-ratio: 1) {
	.judges-list .judge-avatar::before {
		height: auto;
		aspect-ratio: 1;
	}
}

.judges-list a {
	text-decoration: none;
	font-size: 90%;
}

.judges-list a:hover {
	text-decoration: underline;
	color: inherit;
}

.judges-list .judge-avatar:hover::before {
	transform: translate(-4px,-4px);
}

