<div class="masthead grid-narrow">
	<a href="/" class="netlify-logo">
		{% include "components/_svg/netlify-logo" %}
	</a>
	<nav class="nav-main">
		<a href="/#guidelines">Guidelines</a>
		<a href="/#submit">Submit</a>
		<a href="/#showcase">Showcase</a>
	</nav>
</div>