/* Progress bar */
.progress {
  width: 100%;
  max-width: 800px;
  margin: 2em auto;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 0.2em 1em;
  align-items: center;
}

.progress h4 {
  grid-column: 1 / -1;
  font-size: 80%;
  text-align: left;
}

.progress > * {
  margin: 0;
  font-family: "Courier New", monospace;
  font-size: 120%;
  font-weight: 600;
}

.progress-container {
  border: 1px dashed var(--color-gray-L400);
  background-color: var(--color-gray-L100);
}

.progress-bar {
  padding: 0.5em;
}
