.sites-list {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.sites-list {
	width: 100%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
}

.sites-item {
	margin: 0;
	margin-bottom: -.6em;
	position: relative;
	list-style: none;
}

.sites-item a {
	width: 100%;
	padding-bottom: 2.14rem;
	display: block;
	position: relative;
	text-decoration: none;
	transition: all 100ms ease-in-out;
}

.sites-item .site-title {
	padding: 0 1rem;
	height: 2.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	border: var(--ui-border);
	border-bottom: none;
	font-weight: 700;
	text-decoration: none;
	transition: all 100ms ease-in-out;
}

@media screen and (max-width: 50rem) {
	.sites-item .site-title {
		font-size: 80%;
	}
}

.sites-item .site-date {
	font-size: 70%;
	text-transform: uppercase;
	color: var(--color-gray-L600);
}

.sites-item figure {
	width: 100%;
	height: 2rem;
	position: absolute;
	left: 0;
	bottom: .15rem;
	display: block;
	background-color: var(--color-gray-L200);
	border: var(--ui-border);
	transform:  perspective(400px) rotateX(-30deg);
	transform-origin: 50% 0;
	transition: all 100ms ease-in-out;
	overflow: hidden;
}

.sites-item figure img {
	width: 100%;
	opacity: 0;
	transition: opacity 100ms ease-in-out;
}

/* Hover and focus states */
.js-focus-visible .sites-item a.focus-visible {
	box-shadow: none;
}

.sites-item a:hover,
.js-focus-visible .sites-item a.focus-visible {
	padding-bottom: 10.3rem;
}

.sites-item a:hover .site-title,
.js-focus-visible .sites-item a.focus-visible .site-title {
	transform: scale(1.03);
	background-color: var(--color-teal-T200);
}

.js-focus-visible .sites-item a.focus-visible .site-title {
	box-shadow: 0 0 1px 4px var(--color-focus-ring);
}
.js-focus-visible .sites-item a.focus-visible figure {
	box-shadow: 0 4px 1px 4px var(--color-focus-ring);
}

.sites-item a:hover figure,
.js-focus-visible .sites-item a.focus-visible figure {
	height: 10.3rem;
	bottom: 0;
	transform: scale(1.03) perspective(400px) rotateX(-10deg);
}

.sites-item a:hover figure img,
.js-focus-visible .sites-item a.focus-visible figure img {
	opacity: .8;
}