:root {
  --texture-color-light: #f5dd99;
  --texture-color-dark:var(--color-gray-L700);
}

.dusty {
	background-size: 300px auto;
	background-position: 50% 0;
}

.dusty.dusty-dark {
	background-color: var(--texture-color-dark);
	background-image: url(/static/dust-dark.jpg);
	color: white;
}

.dusty.dusty-light {
	background-color: var(--text-color-light);
	background-image: url(/static/dust-light.jpg);
}